body {
    background-color: #ccc;
}

.selections {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;   
}

.selections {
    background: none
    border: none;
    outline none;
    cursor: pointer;
}